@shade0: #100d0c;
@shade1: #100d0c;
@shade2: #cdcfd0;
@shade3: #cdcfd0;
@shade4: #100d0c;
@shade5: #8f9e65;
@shade6: #cdcfd0;
@shade7: #cdcfd0;
@accent0: #e06c75;
@accent1: #7baae8;
@accent2: #8f9e65;
@accent3: #7baae8;
@accent4: #7baae8;
@accent5: #7baae8;
@accent6: #cdcfd0;
@accent7: #7baae8;